<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Patient hinzufügen</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
<div class="container">
    <h2>Neuen Patienten anlegen</h2>

    <p th:if="${error}" style="color:red;">
        <span th:text="${error}"></span>
    </p>

    <form th:action="@{/patient/add}" th:object="${patient}" method="post">

        <div class="form-group">
            <label>SVNR:</label>
            <input type="text"
                   th:field="*{svnr}"
                   class="form-control"
                   placeholder="z.B. 1234010180">
        </div>

        <div class="form-group">
            <label>Vorname:</label>
            <input type="text"
                   th:field="*{vorname}"
                   class="form-control">
        </div>

        <div class="form-group">
            <label>Nachname:</label>
            <input type="text"
                   th:field="*{nachname}"
                   class="form-control">
        </div>

        <div class="form-group">
            <label>Geschlecht:</label>
            <input type="text"
                   th:field="*{geschlecht}"
                   class="form-control">
        </div>

        <div class="form-group">
            <label>Geburtsdatum:</label>
            <input type="date"
                   th:field="*{geburtsdatum}"
                   class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">
            Speichern
        </button>

    </form>
</div>
</body>
</html>